html(ng-app="app")
  head
    script(type="text/javascript", src="lib/socket.io-client/socket.io.js")
    script(type="text/javascript", src="lib/angular/angular.js")
    script(type="text/javascript", src="lib/angular-socket-io/socket.js")
    script(type="text/javascript", src="lib/angular-filter/dist/angular-filter.js")
    script(type="text/javascript", src="lib/jquery/dist/jquery.js")
    script(type="text/javascript", src="app.js")
    script(type="text/javascript", src="services/SocketSvc.js")
    script(type="text/javascript", src="controllers/SocketCtrl.js")
    script(type="text/javascript", src="controllers/ChatCtrl.js")
    script(type="text/javascript", src="controllers/ChatFormCtrl.js")
    script(type="text/javascript", src="directives/ChatDir.js")
  body(ng-controller="socketCtrl")
    input(type="text" ng-model="uid" ng-readonly="isConnected")
    button(ng-click="connect()" ng-show="!isConnected") Connect
    button(ng-click="disconnect()" ng-show="isConnected") Disconnect
    div(ng-bind="status")

    ul
      li(ng-repeat="(uid, online) in recentUsers")
        a(href="#" ng-click="addChat(uid)") {{uid}}
        span(ng-show="online") Online

    button(ng-click="addChat()") Add chat
    ul
      li(ng-repeat="(uid, chat) in chats | unique: 'uid'")
        div(chat-dir="" ng-controller="chatCtrl")
